@page
@model HeyTravel.Pages.mappaModel
@{
}

<div id="map" style="width:1200px; height:600px; margin:auto; box-sizing:inherit; display:block; background-color:white;"></div>
<script type="text/javascript" src="~/js/Mappa.js"></script>