@page
@model HeyTravel.Pages.PreferitiModel
@{
    ViewData["Title"] = "Preferiti";
}

<h2>Ritrova qui le tue mete <i>Preferite</i></h2>
<br />
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Partnza</th>
                <th>Arrivo</th>
                <th>%Vaccinati</th>
                <th>%Casi</th>
                <th>TemperaturaMedia</th>
                <th>Precipitazioni</th>
                <th>MediaSole</th>
                <th>TemperaturaMare</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</form>