@page
@model HeyTravel.Pages.PreferitiModel
@{
    ViewData["Title"] = "Preferiti";
}

<h2 class="text-black-50">Ritrova qui le tue mete <i>Preferite</i></h2>
<br />
<form method="post">
    <table class="table text-black-50">
        <thead>
            <tr>
                <th>Partenza</th>
                <th>Arrivo</th>
                <th>% Vaccinati</th>
                <th>% Casi</th>
                <th>Temperatura Media</th>
                <th>Precipitazioni</th>
                <th>Media Sole</th>
                <th>Temperatura Mare</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</form>