@page
@model HeyTravel.Pages.Home2Model
@{
    ViewData["Title"] = "Home";
}
<style>
    body, html {
        height: 100%;
        /* The image used */
        background-image: url("../images/HeyTravel_Foto_Ricerca.jpeg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="text-white-50"><i>Manca sempre meno per il completamento del tuo viaggio</i></h1>
    <br />
    <br />
    <br />
</div>

<form method="post" class="text-center">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <style>
                .center {
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            </style>
            <h5 class="text-white-50" align="center"><i>Inserire il mese di partenza</i></h5>
            <input class="form-control me-2 text-black" type="month" name="month" min="2022-02" max="2022-12" />
            <br />
            <br />
            <h5 class="text-white-50" align="center"><i>Inserire il mese di ritorno</i></h5>
            <input class="form-control me-2 text-black" type="month" name="month" min="2022-02" max="2022-12" />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="center">
                <input type="button" onclick="location.href='Risultato'" class="btn btn-outline-light" style="background-color:gray" value="Cerca" />
            </div>
        </div>
    </div>
</form>
